@font-face {
  font-family: fantasque;
  src: url(../fonts/FantasqueSansMono-Regular.ttf);
}

:root {
  font-family: fantasque, Arial, Helvetica, sans-serif;
}

.wrapper {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 6fr;
  margin: auto;
  margin-top: 15vh;
  width: 805px;
}

#announcement-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: double 8px rgb(161, 216, 182);
  background-color: azure;
  margin-left: -19px;
  margin-bottom: -18px;
  z-index: 2;
  box-shadow: 3px 0 5px grey;
  width: 789px;
  height: 50px;
  justify-self: center;
  align-self: center;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  font-size: 50px;
}

#board {
  grid-row: 2 /3;
  grid-column: 2 /3;
  border: solid 3px rgb(185, 185, 185);
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 3px 3px 5px grey;
  background-color: rgb(250, 242, 231);
  z-index: 1;
}

#board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(185, 185, 185);
  font-size: 52px;
}

#board > div:hover {
  background-color: rgb(235, 215, 179);
}

#board > div:active {
  background-color: rgb(238, 235, 230);
}

#info {
  grid-column: 1 / 2;
  grid-row: 2 /3;
  position: relative;
  width: 300px;
  height: 500px;
  font-size: 25px;
}

#scores {
  display: grid;
  margin: 0;
  padding: 0;
  height: 140px;
  max-width: fit-content;
  grid-template-rows: 50px 75px;
  grid-template-columns: 1fr 1fr;
  grid-row: 4 / 6;
  border: 3px solid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px inset grey;
}

#score-title {
  justify-self: center;
  align-self: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 0;
  margin-top: -8px;
  padding: 0;
}

.score-border {
  align-items: center;
  text-align: center;
  display: grid;
  margin-top: 20px;
  height: 108px;
  width: 135px;
}

.score-border > p {
  padding: 0;
  margin: 0;
}

.score {
  font-size: 45px;
}

#stats {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 300px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(185, 185, 185);
  background-color: rgb(213, 214, 243);
  box-shadow: 0 3px 5px grey;
}

#btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
}

#stats > div:nth-child(1) p {
  margin-top: 41px;
  margin-left: 3px;
}

#stats > div:nth-child(2) p {
  margin-top: 16px;
  margin-left: 3px;
}

#stats > div:nth-child(3) {
  margin-top: -4px;
}

.form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  top: 3px;
  left: 3px;
  opacity: 1;
  background-color: rgb(213, 214, 243);
}
form {
  display: grid;
  margin-top: -158px;
  gap: 50px;
}

form > div {
  display: flex;
  align-self: center;
  justify-self: center;
}

form > div:nth-child(4) {
  margin-top: -10px;
}

#ai-check {
  margin-left: 35px;
  width: 25px;
}

input {
  padding: 3px;
  width: 150px;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 5px;
  border: 2px solid rgb(198, 189, 248);
}

input:focus {
  outline-color: rgb(177, 208, 233);
}

button {
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  width: 260px;
  border-color: rgb(124, 127, 202);
  background-color: rgb(214, 231, 241);
  box-shadow: 2px 2px rgb(150, 148, 148);
}

button:active {
  background-color: rgb(165, 188, 202);
}

.toggle-form {
  opacity: 0;
  pointer-events: none;
}

.highlight {
  background-color: rgb(182, 238, 144);
}
